#root {
    overflow: hidden;
}

.component-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 1000px;
}

/* clock and countdown component */
.clock-title{
    font-size: 50px;
    align-self: center;
}
.Deadline-input{
    width: 100px !important;
    font-size: 20px;
    margin: 5px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clock-container{
    margin: 10px;
    align-self: center;
    font-size: 30px;

    .clock-days, .clock-hours, .clock-minutes, .clock-seconds{
        display: inline;
        margin: 10px;
    }
}

/* progressbar component */
.progress-bar-container {
    margin: 10px;
    width: 100%;
    border: solid 2px;
    border-radius: 10px;

    .progress-bar {
        width: 0%;
        height: 20px;
        border-radius: 8px;
        transition: width 0.1s linear;
        animation: bar-color 10s infinite;
    }
}
.progress-label {
    align-self: end;
}
.button-group {
    align-self: center;
}

/* rect component */
.rect-container {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-end;
}

.rect {
    position: relative;
    display: inline;
    margin: 50px 50px;
    width: 50px;
    background: linear-gradient(0deg, blue, yellow);
    border: solid 1px;
}

.rect-label {
    position: absolute;
    top: -21px;
    left: 16px;
}

/* ws */
.ws-container {
    margin: 0 auto;
    height: 95vh;
    width: 1630px;
    background-image: url("./ws-space.jpg");
    background-size: 100%;
    position: relative;
}
.deck-remain {
    position: absolute;
    top: 380px;
    left: 1358px;
    font-size: 50px;
}

.footer {
    width: 100%;
    position:fixed;
    bottom:0px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.card-content {
    margin: 0 5px
}

