.App{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}

.App-title{
    font-size: 50px;
}

.component-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 1000px;
}

/* clock and countdown component */
.Deadline-input{
    font-size: 20px;
    margin: 5px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds{
    display: inline;
    margin: 10px;
}

/* progressbar component */
.progress-bar-container {
    margin: 10px;
    width: 100%;
    border: solid 2px;
    border-radius: 10px;

    .progress-bar {
        width: 0%;
        height: 20px;
        border-radius: 8px;
        transition: width 0.1s linear;
        animation: bar-color 10s infinite;
    }
}
.progress-label {
    align-self: end;
}
.button-group {
    align-self: center;
}

.rect-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.rect {
    position: relative;
    display: inline;
    margin: 50px 50px;
    width: 50px;
    background: linear-gradient(0deg, blue, yellow);
    border: solid 1px;
}

.rect-label {
    position: absolute;
    top: -21px;
    left: 16px;
}